.header-discipline {
  width: 100vw;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  background: rgba(22, 24, 38, 1);
  border-bottom: 1px solid rgba(22, 24, 38, 1);
}

.container-main-discipline {
  background: rgb(22, 24, 38);
  background: linear-gradient(170deg, rgba(22, 24, 38, 1) 51%, rgba(61, 31, 77, 1) 88%, rgba(82, 43, 105, 1) 97%, rgba(112, 59, 143, 1) 100%);
  height: 100vh;
  width: 100vw;
  /* display: flex;
  justify-content: center; */
}

.container-discipline-info {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 50px;
}

.discipline-info {
  width: 320px;
  height: 500px;
  padding: 20px 0;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: none;
  margin-top: 30px;
  z-index: 1;
  overflow-y: auto;
}

.discipline-info::-webkit-scrollbar {
  width: 10px;
  
}

.discipline-info::-webkit-scrollbar-track {
  background-color: #2C3149;
  border-radius: 5px;
}

.discipline-info::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
}

.discipline-info h3 {
  /* background-clip: text;
    -webkit-background-clip: text;  
    background-image: linear-gradient(118deg, rgba(192, 57, 43, 1) 0%, rgba(168, 62, 106, 1) 32%, rgba(142, 68, 173, 1) 100%);
    color: transparent; */
  color: #fff;
  font-weight: 400;
  font-size: 25px;
  display: flex;
  justify-content: flex-end;
  margin: 0 20px 10px 10px;
}

.discipline-info .h3-gradient {
  background-clip: text;
  -webkit-background-clip: text;  
  background-image: linear-gradient(118deg, rgba(192, 57, 43, 1) 0%, rgba(168, 62, 106, 1) 32%, rgba(142, 68, 173, 1) 100%);
  color: transparent;
  font-weight: 400;
  font-size: 25px;
  margin-bottom: 0 !important;
  width: 70%;
  border-bottom: 1px solid #6E6E6E;
  margin: 0 15% 0 15%;
  margin-bottom: 30px !important;
  padding-bottom: 20px;
}

.container-meets {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container-meets h3 {
  text-align: center;
  background-clip: text;
  -webkit-background-clip: text;  
  background-image: linear-gradient(118deg, rgba(192, 57, 43, 1) 0%, rgba(168, 62, 106, 1) 32%, rgba(142, 68, 173, 1) 100%);
  color: transparent;
  font-weight: 400;
  font-size: 25px;
  margin-top: 20px;
}

.meets {
  width: 320px;
  height: 150px;
  background-color: rgba(255, 255, 255, 0.05);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: none;
  margin: 10px;
  color: #f2f2f2;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}

.meets h4 {
  font-weight: 400;
  font-size: 20px;
  margin: 20px 0 20px 0;
}

.meets a {
  width: 100%;
  height: 100%;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.meets p {
  color: #fff;
  font-weight: 400;
  font-size: 20px;
}

/* .access-disciplines-button {
  width: 120px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.08);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin: 20px 0 20px 0;
}

.access-disciplines-button:hover {
  background-color: rgba(255, 255, 255, 0.2);
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
}

.access-disciplines-button a {
  text-decoration: none;
  color: #f2f2f2;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
} */

.image-new-meets {
  background-image: url(../assets/pencil.png);
  width: 150px;
  height: 150px;
  margin-top: -20px;
  margin-left: -70px;
  margin-right: 50px;
}

.image-access-meets {
  background-image: url(../assets/paperplane.png);
  width: 150px;
  height: 150px;
  margin-top: -20px;
  margin-left: -50px;
  margin-right: 20px;
}

.info-disc {
  color: #fff;
  font-weight: 400;
  font-size: 20px;
  margin: 0 40px 20px 40px;
}

.info-disc-label {
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  margin: 0 40px;
}

.info-disc-nome {
  background-clip: text;
  -webkit-background-clip: text;  
  background-image: linear-gradient(118deg, rgba(192, 57, 43, 1) 0%, rgba(168, 62, 106, 1) 32%, rgba(142, 68, 173, 1) 100%);
  color: transparent;
  font-weight: 400;
  font-size: 20px;
  margin: 0 40px 20px 40px;
}

@media (min-width: 64em) {
  .discipline-info {
    width: 450px;
    height: 500px;
    margin-left: 80px;
  }

  .container-discipline {
    display: flex;
    flex-direction: row;
  }

  .discipline-info h3 {
    justify-content: center;
    margin-right: 5px;
    font-size: 30px;
  }

  .discipline-info .h3-gradient {
    font-size: 30px;
  }

  .container-meets h3 {
    font-size: 40px;    
  }

  .meets {
    width: 500px;
    height: 150px;
    margin-left: 100px;
  }
  
}