.header-discipline {
  width: 100vw;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: rgba(22, 24, 38, 1);
  border-bottom: 1px solid rgba(22, 24, 38, 1);
}

.container-inactives {
  background: rgb(22, 24, 38);
  background: linear-gradient(170deg, rgba(22, 24, 38, 1) 51%, rgba(61, 31, 77, 1) 88%, rgba(82, 43, 105, 1) 97%, rgba(112, 59, 143, 1) 100%);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.disciplines-list {
  cursor: pointer;
  background-color: #fff;
  height: 35px;
  width: 300px;
  margin: 10px;
  border-radius: 5px;
}

.disciplines-list a {
  cursor: pointer;
  text-decoration: none;
  color: #000;
  height: 100%;
  width: 100%;
}

#reuniao .disciplines-list {
  background-color: #fff;
  height: 35px;
  width: 300px;
  margin: 10px;
  border-radius: 5px;
}

#reuniao .disciplines-list a {
  text-decoration: none;
  color: #000;
  height: 100%;
  width: 100%;
}

@media (min-width: 118em) {

  
}