.header-generate-code {
  width: 100vw;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  background: rgba(22, 24, 38, 1);
  border-bottom: 1px solid rgba(22, 24, 38, 1);
}

.container-generate-code {
  background: rgb(22, 24, 38);
  background: linear-gradient(170deg, rgba(22, 24, 38, 1) 51%, rgba(61, 31, 77, 1) 88%, rgba(82, 43, 105, 1) 97%, rgba(112, 59, 143, 1) 100%);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.container-generate-code {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.confirm-generate-code {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 200px;
  background-color: rgba(255, 255, 255, 0.05);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: none;
  margin: 10px;
  margin-top: -160px;
  color: #f2f2f2;
  cursor: pointer;
  font-weight: 400;
  font-size: 20px;
}

.generated-code {
  height: 100px;
  width: 300px;
  font-family: 'COCOGOOSE', sans-serif;
  font-weight: 400;
  font-size: 25px;
  margin-bottom: 10px;
  background-color: #f2f2f2;
  border: none;
  border-radius: 5px;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center; 
}

.generate-code {
  margin-top: 30px;
}

@media (min-width: 64em) {
  .header-generate-code {
    justify-content: flex-start;
    height: 75px;
  }

  .confirm-generate-code {  
    flex-direction: row;    
    justify-content: space-around;
    width: 500px;
    height: 130px;
    margin-top: -130px;    
    font-size: 25px;
  }

  .generated-code {
    width: 400px;
    font-size: 30px;   
  }

  .generate-code {
    margin-top: 0px;
  }
}