@import url('http://fonts.cdnfonts.com/css/cocogoose');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'COCOGOOSE', sans-serif;  
  scroll-behavior: smooth;  
}

.header {
  width: 100vw; 
  display: flex;
  flex-direction: row;
  align-items: center;
  background: rgba(22,24,38,1) 32%;
  border-bottom: 1px solid rgba(22,24,38,1);
}

.div-logo {
  width: 100vw;
}

.logo {
  background: url("assets/logo-vocatus-mobile.png") no-repeat;
  height: 123px;
  width: 200px;
  margin-top: -50px;
  margin-left: 10px;
}

.logo:hover {
  cursor: pointer;
}

.login-button {
  height: 35px;
  width: 100px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  background: rgb(192, 57, 43);
  background: linear-gradient(118deg, rgba(192, 57, 43, 1) 0%, rgba(168, 62, 106, 1) 32%, rgba(142, 68, 173, 1) 100%);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  margin-right: 15px;
  margin-top: -5px;
  position: relative;
  z-index: 999;
}

.login-button a {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
}

.login-button:hover {
  transform: scale(1.1);
  transition: 0.2s ease-in-out;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.div-menu-header {  
  display: none;
}

.container-register,
.container-new-discipline,
.container-create-class {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.register {
  width: 320px;
  height: 500px;
  padding: 20px 0;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: none;
  margin-top: 30px;
  z-index: 1;
}

.new-discipline {
  width: 320px;
  height: 455px;
  padding: 20px 0;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: none;
  margin-top: 20px;
  z-index: 1;
}

.new-discipline::-webkit-scrollbar {
  width: 10px;  
}

.new-discipline::-webkit-scrollbar-track {
  background-color: #2C3149;
  border-radius: 5px;
}

.new-discipline::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
}

.register {
  width: 320px;
  height: 520px;
  padding: 20px 0;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: none;
  margin-top: 5px;
  z-index: 1;
}

.register form,
.new-discipline form{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.register h3,
.new-discipline h3 {
  color: #fff;
  font-weight: 400;
  font-size: 25px;
  display: flex;
  justify-content: flex-end;
  margin: 0 20px 10px 10px;
}

.register input {
  height: 40px;
  width: 88%;
  font-size: 14px;
  margin-bottom: 10px;
  background-color: #fff;  
  border: none;
  background-repeat: no-repeat;
  background-position: 10px;
  border-radius: 5px;
  margin-top: 5px;
  margin-left: 20px;
  padding-left: 40px;
}

.new-discipline input,
.register input{
  height: 40px;
  width: 90%;
  font-size: 14px;
  margin-bottom: 8px;
  background-color: #fff;
  border: none;
  background-repeat: no-repeat;
  background-position: 10px;
  border-radius: 5px;
  margin-top: 8px;
  margin-left: 20px;
  padding-left: 40px;
}

.register .div-submit,
.new-discipline .div-submit{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.register .div-submit {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.register .submit {
  height: 55px;
  width: 220px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  background: rgb(192, 57, 43);
  background: linear-gradient(118deg, rgba(192, 57, 43, 1) 0%, rgba(168, 62, 106, 1) 32%, rgba(142, 68, 173, 1) 100%);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  margin: 5px;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}

.new-discipline .submit {
  height: 55px;
  width: 220px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  background: rgb(192, 57, 43);
  background: linear-gradient(118deg, rgba(192, 57, 43, 1) 0%, rgba(168, 62, 106, 1) 32%, rgba(142, 68, 173, 1) 100%);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  margin: 5px;
  font-weight: 600;
  font-size: 20px;
  color: #fff;
}

.register .submit:hover,
.new-discipline .submit:hover {
  transform: scale(1.1);
  transition: 0.5s ease-in-out;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.register a , .new-discipline a {
  font-weight: 600;
  font-size: 20px;
  color: #fff;
  text-decoration: none;
}

.profile {
  background-image: url(assets/icone-perfil-mobile.png);
  width: 50px;
  height: 50px;
  margin-right: 20px;
  margin-top: -5px !important;
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}

#menu-exit {
  width: 125px;
  height: auto;
  max-height: 125px;
  padding: 10px;
  background-color: #161826;
  box-shadow: 0 0 20px #a83e6a;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: none;  
  z-index: 9999 !important;
  margin-top: -5px;
  margin-left: -85px;
  font-size: 12px;
  position: absolute;
  display: none;  
  color: #fff;
}

.user {
  padding: 5px;
  padding-bottom: 8px;
  border-bottom: 1px solid #6E6E6E;
  width: 100px;
  height: auto;
  max-height: 80px;
}

.exit {
  padding: 10px;
  cursor: pointer;
  font-size: 15px;
  position: relative;
}

.exit:hover {
  background-clip: text;
  -webkit-background-clip: text;  
  background-image: linear-gradient(118deg, rgba(192, 57, 43, 1) 0%, rgba(168, 62, 106, 1) 32%, rgba(142, 68, 173, 1) 100%);
  color: transparent;
  transition: 0.5s ease-in-out;
}

.exit::after {
  content: " ";
  width: 0;
  height: 4px;
  background: rgb(192, 57, 43);
  background: linear-gradient(118deg, rgba(192, 57, 43, 1) 0%, rgba(168, 62, 106, 1) 32%, rgba(142, 68, 173, 1) 100%);
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 1px;
  transition: 0.5s ease-in-out;
  margin-left: 10px;
}

.exit:hover::after {
  width: 45px;
}

@media (min-width: 64em) {
  .div-logo {
    width: 24vw;
  }

  .logo {
    background: url("assets/logo-vocatus.png") no-repeat;
    height: 180px;
    width: 400px;
    margin-top: -100px;
    margin-left: -50px;
  }

  .div-menu-header {
    width: 50vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 25px 0 0 70px;

  } 
  
  .menu-header {
    list-style: none;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
  }
  
  .menu-header:hover{
    color: linear-gradient(118deg, rgba(192, 57, 43, 1) 0%, rgba(168, 62, 106, 1) 32%, rgba(142, 68, 173, 1) 100%);
  }
  
  .menu-header li a{
    font-weight: 400;
    font-size: 18px;
    color: #fff;
    margin-left: 50px;
    position: relative;
    margin-bottom: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    text-decoration: none;
  }
  
  .menu-header li a:hover{
    background-clip: text;
    -webkit-background-clip: text;  
    background-image: linear-gradient(118deg, rgba(192, 57, 43, 1) 0%, rgba(168, 62, 106, 1) 32%, rgba(142, 68, 173, 1) 100%);
    color: transparent;
    transition: 0.5s ease-in-out;
  }
  
  .menu-header li a::after{
    content: " ";
    width: 20px;
    height: 4px;
    background: rgb(192, 57, 43);
    background: linear-gradient(118deg, rgba(192, 57, 43, 1) 0%, rgba(168, 62, 106, 1) 32%, rgba(142, 68, 173, 1) 100%);
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 1px;
    transition: 0.5s ease-in-out;
  }
  
  .menu-header li a:hover::after{
    width: 50px;
  }

  .div-login-button {
    width: 20vw;
  }

  .div-login {
    width: 12vw;
  }
  
  .login-button {
    height: 55px;
    width: 180px;
    margin: 30px 0 0 0;
  }
  
  .login-button a {
    font-weight: 600;
    font-size: 25px;
  }
  
  .container-register,
  .container-new-discipline {
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
  }

  .register {
    width: 450px;
    height: 500px;
    padding: 30px 0;
  }

  .new-discipline {
    width: 500px;
    height: 500px;
    padding: 30px 0;
    margin-top: 65px;
  }

  .register {
    width: 450px;
    height: 530px;
    padding: 30px 0;
  }

  .register h3,
  .new-discipline h3 {
    font-size: 35px;
  }

  .register input,
  .new-discipline input {
    width: 90%;
    font-size: 18px;
  }

  .profile {
    background-image: url(assets/icone-perfil.png);
    width: 80px;
    height: 80px;
    margin-top: 150px;
    margin-right: -80px;
    display: flex;
    justify-content: flex-end;
  }

  #menu-exit {
    width: 150px;
    height: auto;
    max-height: 150px;
    padding: 10px;
    background-color: #161826;
    box-shadow: 0 0 20px #a83e6a;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: none;
    margin-top: -10px;
    z-index: 9999 !important;
    margin-left: -85px;
    font-size: 15px;
    position: absolute;
    display: none;  
    color: #fff;
  }

  .exit {
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
    position: relative;
  }

  .user {
    padding: 5px;
    padding-bottom: 8px;
    border-bottom: 1px solid #6E6E6E;
    width: 120px;
    height: auto;
    max-height: 80px;
  }

}

@media (min-width: 118em) {
  .profile {
    margin-top: 30px !important;
  }

  .div-login {
    width: 12vw;
  }
}


